# Source database (raw data)
SRC_POSTGRES_DB=pactravel
SRC_POSTGRES_HOST=localhost
SRC_POSTGRES_USER=postgres
SRC_POSTGRES_PASSWORD=yourpassword
SRC_POSTGRES_PORT=5433

# Data warehouse
DWH_POSTGRES_DB=pactravel-dwh
DWH_POSTGRES_HOST=localhost
DWH_POSTGRES_USER=postgres
DWH_POSTGRES_PASSWORD=yourpassword
DWH_POSTGRES_PORT=5434

# Project directories
DIR_TEMP_DATA=./temp
DIR_EXTRACT_QUERY=./src_query

# Airflow (optional, for docker)
AIRFLOW_UID=50000
